.type-995 .banner-995 {
  background: url(../images/bg-footer.png) no-repeat 50% 100%;
  width: 100%;
  height: 198px;
}
.type-995 .info-footer ul li a:hover {
  color: #ff0000 !important;
}
.type-995 .info-company {
  font-family: 'RobotoRegular';
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  padding-top: 27px;
  position: relative;
}
.type-995 .info-company p {
  margin: 3px 0px;
  padding: 0px;
}
.type-995 .info-company .name {
  font-style: italic;
  color: #ed1c24;
  font-weight: bold;
}
.type-995 .info-company .name span {
  font-weight: normal;
  color: #666666;
}
.type-995 .info-company .viewmap {
  display: inline-block;
  margin: 5px 0px;
  font-size: 14px;
  line-height: 22px;
  padding: 6px 0px 6px 20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #000000;
  background: url(../images/icon-viewmap.jpg) no-repeat 0 50%;
  font-family: 'RobotoRegular';
  font-style: italic;
}
.type-995 .box_statistics {
  position: absolute;
  top: 100px;
  padding: 0 0 5px 5px;
  padding-left: 73%;
  margin-top: -10%;
  top: 0;
  z-index: 100000;
}
.type-995 .user-traffic {
  font-family: 'RobotoRegular';
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  padding-top: 27px;
  position: relative;
}
.type-995 .user-traffic p {
  margin: 3px 0px;
  padding: 0px;
}
.type-995 .user-traffic .name {
  font-style: italic;
  color: #ed1c24;
  font-weight: bold;
}
.type-995 .user-traffic .name span {
  font-weight: normal;
  color: #666666;
}
.type-995 .info-footer {
  bottom: 0px;
  left: 0px;
}
.type-995 .info-footer ul li {
  display: inline-block;
  padding: 0px 50px 0px 0px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-family: 'RobotoRegular';
}
.type-995 .info-footer ul li a {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-family: 'RobotoRegular';
  padding: 6px 0px;
}
.type-995 .info-footer ul li a.thietkeweb {
  font-size: 12px;
  font-style: italic;
}
.type-995 .social-footer ul li {
  display: inline-block;
  width: 37px;
  overflow: hidden;
  margin: 0px 3px;
}
.type-995 .social-footer ul li img {
  max-width: 100%;
  -ms-transition: all .5s ease-in 0s;
  -webkit-transition: all .5s ease-in 0s;
  transition: all .5s ease-in 0s;
  position: fixed;
}
.type-995 .social-footer ul li:hover img {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
@media (min-width: 414px) {
  .type-995 .banner-995 .banner-r {
    float: left;
  }
  .type-995 .banner-995 {
    background: url(../images/bg-footer.png) no-repeat 76% 100%;
    width: 100%;
    height: 198px;
  }
  .type-995 img {
    width: 40px;
  }
}
@media (max-width: 521px) {
  .type-995 .banner-995 {
    background: url(../images/bg-footer.png) no-repeat 76% 100%;
    width: 100%;
    height: 220px;
  }
}
