.type-1809 .inner-header {
  padding: 70px 0 70px 0;
  background-image: url(../images/subheader.jpg);
  background-position: 50% 450px;
}
.type-1809 .inner-header .logo {
  color: #eceff3;
  margin-top: 20px;
  font-size: 32px;
  letter-spacing: 5px;
  float: left;
  padding-right: 40px;
  margin-right: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
.type-1809 .inner-header .text {
  text-decoration: none;
  font-size: 11px;
  letter-spacing: 3px;
  margin-top: 35px;
  text-transform: uppercase;
  float: right;
  color: #FAB702;
}
.type-1809 .inner-header .text .text-a {
  color: #eceff3;
}
.type-1809 .inner-header .text:hover {
  color: #eceff3;
}
@media (max-width: 768px) {
  .type-1809 .text {
    display: none;
  }
  .type-1809 .inner-header {
    padding-bottom: 0;
  }
}
